@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<component param-CurrentCount="4" type="typeof(Counter)"  render-mode="ServerPrerendered" />
<component param-CurrentCount="8" type="typeof(Counter)" render-mode="ServerPrerendered" />
<component type="typeof(Counter)" render-mode="ServerPrerendered" />
<component type="typeof(Counter)" render-mode="ServerPrerendered" />
<component type="typeof(Counter)" render-mode="ServerPrerendered" />


